<div *ngIf="user" class="user-details">
    <h2>Details de l'Utilisateur</h2>
    <p><strong>ID:</strong> {{ user.id }}</p>
    <p><strong>Nom:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Occupation:</strong> {{ user.occupation }}</p>
    <p><strong>Bio:</strong> {{ user.bio }}</p>
</div>
  
<button mat-button [routerLink]="['/']" class="mat-button mat-primary">Retour</button>

  
