.user-details {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  
    p {
      margin-bottom: 10px;
  
      strong {
        font-weight: bold;
      }
    }
    
}

/* Styles pour le bouton de retour */
.mat-button.mat-primary {
    background-color: #007bff; /* Bleu pour le bouton principal */
    color: #fff; /* Texte en blanc */
    border-radius: 5px; /* Coins arrondis */
    display: block; /* Afficher en tant que bloc */
    margin: 0 auto; /* Centrer horizontalement */
    width: 150px; /* Largeur souhaitée */
    text-align: center; /* Centrer le texte */
    padding: 10px 0; /* Espacement interne vertical */
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  