<div class="update-user">
    <h2>Ajouter un Utilisateur</h2>
    <form (ngSubmit)="addUser()">
      <div>
        <label for="name">Nom :</label>
        <input type="text" id="name" [(ngModel)]="newUser.name" name="name" placeholder="Nom" required>
      </div>
      <div>
        <label for="email">Email :</label>
        <input type="email" id="email" [(ngModel)]="newUser.email" name="email" placeholder="Email" required>
      </div>
      <div>
        <label for="occupation">Occupation :</label>
        <input type="text" id="occupation" [(ngModel)]="newUser.occupation" name="occupation" placeholder="Occupation">
      </div>
      <div>
        <label for="bio">Bio :</label>
        <textarea id="bio" [(ngModel)]="newUser.bio" name="bio" placeholder="Bio"></textarea>
      </div>
      <button type="submit">Ajouter</button>
    </form>
  </div>
  
