<!-- app.component.html -->

<header>
  <h1>{{ title }}</h1>
  <!-- Vous pouvez inclure des liens de navigation ici si nécessaire -->
</header>

<nav>
  <!-- Vos liens de navigation, s'ils ne sont pas dans l'en-tête -->
</nav>

<router-outlet></router-outlet>

<footer>
  <!-- Votre pied de page ou des informations de pied de page ici -->
</footer>
