.mat-elevation-z8 {
    overflow: auto;
    max-height: 400px;
  
    table {
      width: 100%;
    }
  
    th.mat-header-cell, 
    td.mat-cell {
      padding: 8px;
      text-align: left;
    }
  
    th.mat-header-cell {
      font-weight: bold;
    }
  
    button.mat-button {
      margin-right: 8px;
    }
  }
  .mat-header-cell {
    background-color: #007bff; /* Couleur de fond bleue */
    color: #fff; /* Couleur du texte en blanc */
    font-weight: bold; /* Texte en gras */
  }
  
  /* Style pour les boutons */
  .mat-button {
    margin-right: 10px; /* Marge à droite pour espacer les boutons */
    padding: 5px 10px; /* Rembourrage pour rendre les boutons rectangulaires */
  }
  
  /* Couleur différente pour chaque bouton */
  .mat-button.mat-primary {
    background-color: #007bff; /* Bleu pour le bouton principal */
    color: #fff; /* Texte en blanc */
  }
  
  .mat-button.mat-accent {
    background-color: #28a745; /* Vert pour le bouton d'accentuation */
    color: #fff; /* Texte en blanc */
  }
  
  .mat-button.mat-warn {
    background-color: #dc3545; /* Rouge pour le bouton d'avertissement */
    color: #fff; /* Texte en blanc */
  }