<div class="mat-elevation-z8">
    <table mat-table [dataSource]="users" class="custom-table">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="blue-header"> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.name}} </td>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{user.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="occupation">
        <th mat-header-cell *matHeaderCellDef> occupation </th>
        <td mat-cell *matCellDef="let user"> {{user.occupation}} </td>
      </ng-container>
  
      <ng-container matColumnDef="bio">
        <th mat-header-cell *matHeaderCellDef> bio </th>
        <td mat-cell *matCellDef="let user"> {{user.bio}} </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
            <button mat-button (click)="deleteUser(user.id)" class="mat-button mat-warn">Delete</button>
            <!-- Bouton pour Details -->
            <button mat-button [routerLink]="['/user', user.id]" class="mat-button mat-accent">Details</button>
            <!-- Bouton pour Update -->
            <button mat-button [routerLink]="['/update', user.id]" class="mat-button mat-primary">Update</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="['id', 'name', 'email', 'occupation', 'bio', 'actions']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['id', 'name', 'email', 'occupation', 'bio', 'actions'];"></tr>
    </table>
    
  </div>
  <button mat-button [routerLink]="['/add']" class="mat-button mat-primary">Add</button>
  
  
